<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div>		
		<div class="contenedor" sec:authorize="!hasRole('ROLE_ADMIN') and hasRole('ROLE_HUESPED')">
		  <img src="/img/backHotel.jpg" width="1903px" height="865px" align="left">
		  <h1 class="text-center texto-encima">Le damos la bienvenida al Hotel Spring</h1>
		</div>
		
	</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>