<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h1 th:text="${titulo}"></h1>
				
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th class="text-center">Foto</th>
							<th>Codigo</th>
							<th>Característica</th>
							<th>Tipo</th>			
							<th>Cama/s</th>				
							<th>Estado</th>
							<th>Opción</th>
						</tr>
					</thead>
					
					<tbody>					
						<tr th:each="habitacion: ${habitaciones}" th:if="${habitacion.tipoHabitacion == tipoH and habitacion.estado == 'Libre'}" sec:authorize="!hasRole('ROLE_ADMIN')">
							<td><img th:src="${habitacion.foto}" class="rounded mx-auto d-block img-fluid img-thumbnail" width="400px" height="400px"></td>
							<td th:text="${habitacion.codigo}"></td>
							<td th:text="${habitacion.caracteristica}"></td>
							<td th:text="${habitacion.tipoHabitacion}"></td>
							<td th:text="${habitacion.cama}"></td>
							<td th:text="${habitacion.estado}"></td>
							<td><a href="#" class="btn btn-success btn-xs" th:if="${habitacion.estado == 'Libre'}">Reservar Habitación</a>
								<a href="#" class="btn btn-danger btn-xs" th:if="${habitacion.estado != 'Libre'}">OCUPADO</a>
							</td>
						</tr>
						
						<tr th:each="habitacionAd: ${habitaciones}" th:if="${habitacionAd.tipoHabitacion == tipoH}" sec:authorize="hasRole('ROLE_ADMIN')">
							<td><img th:src="${habitacionAd.foto}" class="rounded mx-auto d-block img-fluid img-thumbnail" width="400px" height="400px"></td>
							<td th:text="${habitacionAd.codigo}"></td>
							<td th:text="${habitacionAd.caracteristica}"></td>
							<td th:text="${habitacionAd.tipoHabitacion}"></td>
							<td th:text="${habitacionAd.cama}"></td>
							<td th:text="${habitacionAd.estado}"></td>
							<td><a href="#" class="btn btn-success btn-xs" th:if="${habitacionAd.estado == 'Libre'}">Reservar Habitación</a>
								<a href="#" class="btn btn-danger btn-xs" th:if="${habitacionAd.estado != 'Libre'}">OCUPADO</a>
							</td>
						</tr>
						
					</tbody>
				</table>
				
<!-- 				<table class="table table-striped table-bordered"> -->
<!-- 					<thead> -->
<!-- 						<tr> -->
<!-- 							<th>Detalles</th> -->
<!-- 							<th>Tipo</th>							 -->
<!-- 							<th>Estado</th> -->
<!-- 						</tr> -->
<!-- 					</thead> -->
					
<!-- 					<tbody>					 -->
<!-- 						<tr th:each="habitacion: ${habitaciones}" th:if="${habitacion.tipoHabitacion == tipoH and habitacion.estado == 'Libre'}" sec:authorize="!hasRole('ROLE_ADMIN')"> "condiciones anidadas" da error -->
<!-- 							<td><a th:href="@{/verDetalles/} + ${habitacion.codigo}">Detalle</a></td> -->
<!-- 							<td th:text="${habitacion.tipoHabitacion}"></td> -->
<!-- 							<td th:text="${habitacion.estado}"></td> -->
<!-- 						</tr> -->
						
<!-- 						<tr th:each="habitacionAd: ${habitaciones}" th:if="${habitacionAd.tipoHabitacion == tipoH}" sec:authorize="hasRole('ROLE_ADMIN')"> "condiciones anidadas" da error -->
<!-- 							<td><a th:href="@{/verDetalles/} + ${habitacionAd.codigo}">Detalle</a></td> -->
<!-- 							<td th:text="${habitacionAd.tipoHabitacion}"></td> -->
<!-- 							<td th:text="${habitacionAd.estado}"></td> -->
<!-- 						</tr> -->
<!-- 					</tbody> -->
<!-- 				</table> -->
	</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>