<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h1 th:text="${titulo}"></h1>
		
		<table class="table table-striped">
					<thead>
						<tr>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Fecha Nacimiento</th>
							<th>Nacionalidad</th>
							<th>Tipo Usuario</th>
						</tr>
					</thead>
					
					<tbody>					
<!-- 					agregar th:if para buscar con el objeto palabraClave -->
						<tr th:each="usuario: ${usuarios}" th:if="${usuario.tipoUsuario == 'HUESPED'}">
							<td th:text="${usuario.dni}"></td>
							<td th:text="${usuario.nombre}"></td>
							<td th:text="${usuario.apellido}"></td>
							<td th:text="${usuario.fechaNacimiento}"></td>
							<td th:text="${usuario.nacionalidad}"></td>
							<td th:text="${usuario.tipoUsuario}"></td>
						</tr>
					</tbody>
				</table>
		
	</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>