<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h1 th:text="${titulo}"></h1>
		
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			
			<div class="card-body">
				
				<div class="card-title">
					<a th:href="@{/form}" class="btn btn-success btn-xs">Crear Usuario</a>											
					
					
<!-- 					<form class="form-inline float-right" th:action="@{/listarUsuarios}"> -->
<!-- 						<div class="form-group mb-2"> -->
<!-- 							<label>Filtrar: </label> -->
<!-- 						</div> -->
						
<!-- 						<div class="form-group mx-sm-3 mb-2"> -->
<!-- 							<input type="text" name="palabraDni" class="form-control" id="palabraClave" th:value="${palabraClave}" placeholder="Por DNI" />														 -->
<!-- 						</div> -->
						
<!-- 						<div class="form-group mx-sm-3 mb-2"> -->
<!-- 							<select name="palabraNacion" id="palabraNacion" th:value="${palabraNacion}" class="form-control"> -->
<!-- 								<option value="">Nacionalidad</option> -->
<!-- 								<option th:each="nacionalidad: ${nacionalidades}" th:text="${nacionalidad}" th:value="${nacionalidad}"></option> -->
<!-- 							</select>														 -->
<!-- 						</div> -->
						
<!-- 						<div class="form-group mx-sm-3 mb-2"> -->
<!-- 							<input type="text" name="palabraNacimiento" class="form-control" id="palabraNacimiento" th:value="${palabraNacimiento}" placeholder="Por Fecha Nacimiento" />														 -->
<!-- 						</div> -->
												
<!-- 							<input type="submit" class="btn btn-info mb-2" value="Buscar">		 -->

<!-- 					</form> -->
					
					<form class="form-inline float-right" th:action="@{/listarUsuarios}">
						<div class="form-group mb-2">
							<label>Filtrar: </label>
						</div>
						
						<div class="form-group mx-sm-3 mb-2">
							<input type="text" name="palabraDni" class="form-control" id="palabraDni" th:value="${palabraDni}" placeholder="Por DNI" />														
						</div>
						
						<div class="form-group mx-sm-3 mb-2">
							<select name="palabraNacion" id="palabraNacion" th:value="${palabraNacion}" class="form-control">
								<option value="">Nacionalidad</option>
								<option th:each="nacionalidad: ${nacionalidades}" th:text="${nacionalidad}" th:value="${nacionalidad}"></option>
							</select>														
						</div>
						
						<div class="form-group mx-sm-3 mb-2">
							<input type="text" name="palabraNacimiento" class="form-control" id="palabraNacimiento" th:value="${palabraNacimiento}" placeholder="Por Fecha Nacimiento" />														
						</div>
												
							<input type="submit" class="btn btn-info mb-2" value="Buscar">		

					</form>
					
<!-- 			          <a class="dropdown-toggle btn btn-info btn-xs" href="#" id="navbarDarkDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Filtro</a> -->
<!-- 			          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"> -->
<!-- 			            <li><a class="dropdown-item" th:href="@{/filtrar/} + 'DNI'">DNI</a></li> -->
<!-- 			            <li><a class="dropdown-item" th:href="@{/filtrar/} + 'NACIONALIDAD'">Nacionalidad</a></li> -->
<!-- 			            <li><a class="dropdown-item" th:href="@{/filtrar/} + 'FECHA NACIMIENTO'">Fecha Nacimiento</a></li>			            -->
<!-- 			          </ul> -->
				</div>
				<h4 th:text="${palabraFiltrada}"></h4> 				
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Fecha Nacimiento</th>
							<th>Nacionalidad</th>
<!-- 							<th>Constraseña</th> -->
							<th>Tipo Usuario</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					
					<tbody>					
<!-- 					agregar th:if para buscar con el objeto palabraClave -->
						<tr th:each="usuario: ${usuarios}" th:if="${usuario.tipoUsuario == 'HUESPED' or palabraFiltrada == usuario.dni or palabraFiltrada == usuario.nacionalidad or palabraFiltrada == usuario.fechaNacimiento}">
							<td th:text="${usuario.dni}"></td>
							<td th:text="${usuario.nombre}"></td>
							<td th:text="${usuario.apellido}"></td>
							<td th:text="${usuario.fechaNacimiento}"></td>
							<td th:text="${usuario.nacionalidad}"></td>
<!-- 							<td th:text="${usuario.contrasena}"></td> -->
							<td th:text="${usuario.tipoUsuario}"></td>
							<td><a th:href="@{/form/} + ${usuario.dni}" class="btn btn-primary btn-xs">Editar</a></td>
							<td><a th:href="@{/eliminar/} + ${usuario.dni}" class="btn btn-danger btn-xs" onclick="return confirm('Seguro que quiere eliminar?')">Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				
			</div>
		
		</div>
	</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>