<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h1 th:text="${titulo}"></h1>
		
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			
			<div class="card-body">
				
				<h4 class="card-title">
					<a th:href="@{/form}" class="btn btn-success btn-xs">Crear Usuario</a>
				</h4>
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th>DNI</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Fecha Nacimiento</th>
							<th>Nacionalidad</th>
							<th>Constraseña</th>
							<th>Tipo Usuario</th>
							<th>Editar</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="usuario: ${usuarios}">
							<td th:text="${usuario.dni}"></td>
							<td th:text="${usuario.nombre}"></td>
							<td th:text="${usuario.apellido}"></td>
							<td th:text="${usuario.fechaNacimiento}"></td>
							<td th:text="${usuario.nacionalidad}"></td>
							<td th:text="${usuario.contrasena}"></td>
							<td th:text="${usuario.tipoUsuario}"></td>
							<td><a th:href="@{/form/} + ${usuario.dni}" class="btn btn-primary btn-xs">Editar</a></td>
						</tr>
					</tbody>
				</table>
				
			</div>
		
		</div>
	</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>