<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<h1 th:text="${titulo}"></h1>
		
		<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th>Detalles</th>
							<th>Tipo</th>							
							<th>Estado</th>
						</tr>
					</thead>
					
					<tbody>					
						<tr th:each="habitacion: ${habitaciones}" th:if="${habitacion.tipoHabitacion == tipoH and habitacion.estado == 'Libre'"> <!-- "condiciones anidadas" da error -->
<!-- 						<tr th:each="habitacion: ${habitaciones}" th:if="${habitacion.tipoHabitacion == tipoH and (habitacion.estado == 'Libre' and !hasRole('ROLE_ADMIN'))}"> -->
							<td><a th:href="@{/verDetalles/} + ${habitacion.codigo}">Detalle</a></td>
							<td th:text="${habitacion.tipoHabitacion}"></td>
							<td th:text="${habitacion.estado}"></td>
						</tr>
					</tbody>
				</table>
		
	</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>